<app-navigation-bar></app-navigation-bar>

<h1 align="center">All Customers</h1>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">FirstName</th>
			<th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">CreateAt</th>
            <th scope="col">LastUpdated</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let customer of customers">
			<td>{{customer.id}}</td>
			<td>{{customer.firstName}}</td>
			<td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.createAt}}</td>
            <td>{{customer.lastUpdated}}</td>
			<td>
				<button type="button" class="btn btn-success mr-1" (click)="updateCustomer(customer.id)">Update</button>
				<button type="button" class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>